# --- Python & Entrenamiento ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.venv/
env/
venv/
dla_fix/

# --- Sistema y logs ---
.DS_Store
*.log
nohup.out

# --- Datasets (Archivos pesados) ---
datasets/
coco128/
coco128.zip

# --- Modelos Binarios & Compilados ---
models/weights/*.pt
models/engines/*.engine
training_runs/

# --- Archivos No Deseados ---
**/classification_maps/
**/cls_params/
**/feature/
**/records/
.deb
*.bin
